@using Blog2.DAL.Models;
@model List<User>

@if (!Model.Any())
{
    <h5 class="card-title">Нет данных для отображения</h5>
}
else
{
    <h5 class="card-title">Все пользователи</h5>
    @foreach (var user in Model)
    {
        <div class="card w-75 mb-3">
            <div class="card-body">
                <h5 class="card-title">@user.UserName</h5>

                <h6>Роли:</h6>
                @foreach (var role in user.Roles)
                {
                    <span class="badge rounded-pill bg-success">@role.Name</span>
                }

                <h6 class="mt-2">Посты:</h6>
                @foreach (var post in user.Posts)
                {
                    <span class="badge rounded-pill border border-success">
                        <a asp-controller="Post" asp-action="ShowPost" asp-route-id="@post.Id" class="text-decoration-none text-success">@post.Title</a>
                    </span>
                }

                @if (User.IsInRole("Администратор"))
                {
                    <div class="mt-3">
                        @* Кнопка редактирования (GET) *@
                        <a class="btn btn-outline-info btn-sm" asp-controller="Account" asp-action="EditAccount" asp-route-id="@user.Id">Редактировать</a>

                        @* Кнопка удаления (обязательно через FORM для защиты) *@
                        <form asp-controller="Account" asp-action="RemoveAccount" asp-route-id="@user.Id" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-outline-danger btn-sm" onclick="return confirm('Вы уверены?')">Удалить</button>
                        </form>
                    </div>
                }
            </div>
        </div>
    }
}